 
 body{
     /* width:auto; 
     height:auto; */
     margin: auto;
 }
.main{
    height: 100vh;
    width: 100vw;
    
}
 .background{
    width: 100%;
    height: 100%;
    z-index: 20px;
    position: absolute;
    
 }

 .top{
    /* width: 100%; */
    height: 30%;
    background-image: url(./assets/images/background-pattern-mobile.svg);
    /* background-repeat: no-repeat;  */
}
 
.bottom{
    width: 100%;
    height: 70%;
    background-color:hsl(275, 100%, 97%);
}
 
.card{
    width: 300px;
    height: auto;
    background-color:hsl(0, 0%, 100%) ; 
    z-index: 40px;
    top: 60px;
    position:relative;
    margin: auto;
}

.upper-section{
    display: flex;
   flex-direction:row;
   gap: 10px;
   align-items: center;
}

.star{
    width: 20px;
    height: 20px;
}


.header{
    font-size: 20px;
    font-weight:bold;
    color:hsl(292, 42%, 14%) ;
}

.question_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:hsl(292, 42%, 14%);
    padding: 6px;
}
.questions{
    color:  hsl(292, 42%, 14%);
}

p{
    color:hsl(292, 16%, 49%);
    padding: 4px;
}

.ans{
    display: none
}

.answer-display{
    display: block;
}

.btn_close{
    display:block
    
}


 
