body{
    width: 100vw;
    height: 100vh; 
    background-image: url(./assets/images/background-pattern-mobile.svg);
}

.card{
    width: 400px;
    height: auto;
    background-color:hsl(0, 0%, 100%) ;
    box-shadow: 2px;
}

.upper-section{
    display: flex;
    gap: 10px;
    align-items: center;
}

.star{
    width: 15px;
    height: 15px;
}

.tittle{
    font-size: 20px;
    font-weight:bold;
    text-decoration:hsl(292, 42%, 14%) ;
}
.questions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:  hsl(292, 42%, 14%);
}

